# URL base del backend (sin la parte /api)
VITE_API_BASE_URL=https://localhost:7158

# Activa el Mock interno para endpoints /api/
VITE_USE_MOCK=false

# Latencia opcional del Mock (ms)
VITE_MOCK_DELAY=50
