.vs/

# Archivos y directorios generados por Visual Studio
.vs/
*.user
*.suo

# Build
[Bb]in/
[Oo]bj/

# Paquetes
packages/
*.nupkg

# Config sensibles
appsettings.json
SuperChino/appsettings.json

# Migrations
**/Migrations/
